<aside id="sidebar" class="sidebar">

                <div class="sidebar-inner">


                    <ul class="sidebar-nav motion-element">
                        <li class="sidebar-nav-toc sidebar-nav-active" data-target="post-toc-wrap">
                            文章目录
                        </li>
                        <li class="sidebar-nav-overview" data-target="site-overview-wrap">
                            站点概览
                        </li>
                    </ul>


                    <section class="site-overview-wrap sidebar-panel">
                        <div class="site-overview">
                            <div class="site-author motion-element" itemprop="author" itemscope
                                 itemtype="http://schema.org/Person">

                                <img class="site-author-image" itemprop="image"
                                     src="http://ww4.sinaimg.cn/large/72f96cbagw1f5r2v8ovbjj20ma0mawjr.jpg"
                                     alt="lion1ou"/>

                                <p class="site-author-name" itemprop="name">lion1ou</p>
                                <p class="site-description motion-element" itemprop="description"></p>
                            </div>

                            <nav class="site-state motion-element">


                                <div class="site-state-item site-state-posts">

                                    <a href="/archives/">

                                        <span class="site-state-item-count">99</span>
                                        <span class="site-state-item-name">日志</span>
                                    </a>
                                </div>


                                <div class="site-state-item site-state-categories">
                                    <a href="/categories/index.html">
                                        <span class="site-state-item-count">9</span>
                                        <span class="site-state-item-name">分类</span>
                                    </a>
                                </div>


                                <div class="site-state-item site-state-tags">
                                    <a href="/tags/index.html">
                                        <span class="site-state-item-count">32</span>
                                        <span class="site-state-item-name">标签</span>
                                    </a>
                                </div>


                            </nav>


                            <div class="links-of-author motion-element">

                  <span class="links-of-author-item">
                    <a href="https://github.com/lion1ou" target="_blank" title="GitHub">

                        <i class="fa fa-fw fa-github"></i></a>
                  </span>

                                <span class="links-of-author-item">
                    <a href="mailto:lion1ou@163.com" target="_blank" title="E-Mail">

                        <i class="fa fa-fw fa-envelope"></i></a>
                  </span>

                                <span class="links-of-author-item">
                    <a href="http://weibo.com/1923271877/profile?topnav=1&wvr=6&is_all=1" target="_blank" title="微博">

                        <i class="fa fa-fw fa-weibo"></i></a>
                  </span>

                                <span class="links-of-author-item">
                    <a href="https://twitter.com/a418120186" target="_blank" title="Twitter">

                        <i class="fa fa-fw fa-twitter"></i></a>
                  </span>

                                <span class="links-of-author-item">
                    <a href="https://www.facebook.com/profile.php?id=100010975537330" target="_blank" title="FB Page">

                        <i class="fa fa-fw fa-facebook"></i></a>
                  </span>

                            </div>


                            <div class="links-of-blogroll motion-element links-of-blogroll-block">
                                <div class="links-of-blogroll-title">
                                    <i class="fa  fa-fw fa-link"></i>
                                    Links
                                </div>
                                <ul class="links-of-blogroll-list">

                                    <li class="links-of-blogroll-item">
                                        <a href="http://www.fdshfccy.com" title="初韵茶苑" target="_blank">初韵茶苑</a>
                                    </li>

                                    <li class="links-of-blogroll-item">
                                        <a href="http://chuangzaoshi.com/" title="创造狮" target="_blank">创造狮</a>
                                    </li>

                                </ul>
                            </div>


                        </div>
                    </section>


                    <!--noindex-->
                    <section class="post-toc-wrap motion-element sidebar-panel sidebar-panel-active">
                        <div class="post-toc">


                            <div class="post-toc-content">
                                <ol class="nav">
                                    <li class="nav-item nav-level-3"><a class="nav-link" href="#传统方式"><span
                                            class="nav-text">传统方式</span></a></li>
                                    <li class="nav-item nav-level-3"><a class="nav-link"
                                                                        href="#Json-Web-Token（JWT）"><span
                                            class="nav-text">Json Web Token（JWT）</span></a>
                                        <ol class="nav-child">
                                            <li class="nav-item nav-level-4"><a class="nav-link" href="#JWT-组成"><span
                                                    class="nav-text">JWT 组成</span></a></li>
                                        </ol>
                                    </li>
                                    <li class="nav-item nav-level-3"><a class="nav-link" href="#JWT-使用"><span
                                            class="nav-text">JWT 使用</span></a></li>
                                    <li class="nav-item nav-level-3"><a class="nav-link" href="#和Session方式存储id的差异"><span
                                            class="nav-text">和Session方式存储id的差异</span></a></li>
                                    <li class="nav-item nav-level-3"><a class="nav-link" href="#总结"><span
                                            class="nav-text">总结</span></a></li>
                                </ol>
                            </div>


                        </div>
                    </section>
                    <!--/noindex-->


                    <div class="back-to-top">
                        <i class="fa fa-arrow-up"></i>

                        <span id="scrollpercent"><span>0</span>%</span>

                    </div>


                </div>
            </aside>