<div id="" class="tb_rich_poster_container">
<form id='bbs-form' action='{% url 'bbs_edit' bbs.id %}' method='post'>
{#    <input type="hidden" value="{{ bbs.id }}" name='bbs_id'>#}
    <div id="rich_ueditor_tpl">
        <div id="tb_rich_poster" class="tb_rich_poster">
            <div class="j_bubble_container"></div>


                        <div class="poster_head clearfix">
                <div class="poster_head_text">
                                            <a class="add_thread_btn post_head_btn cur" title="修改帖子" href="javascript:;"><span  class="post_head_btn_icon post_head_btn_icon_post"></span>修改帖子</a>
                </div>

            </div>









			<div class="poster_body editor_wrapper">
                                <div class="poster_component title_container">
                    <div class="poster_title">标&nbsp;&nbsp;题:</div>
                    <div class="j_title_wrap">
                        <input type="text" class="editor_textfield editor_title ui_textfield j_title j_topic_sug_input" name="title" autocomplete="off" value="{{ bbs.title }}" />
                        <span class="topic_add_btn j_topic_add_btn"></span>
                        <p class="fullscreen-word-limit"><span class="fullscreen-limit j-fullscreen-wl">0</span>/30</p>
                    </div>
                    <div class="poster_error j_error"></div>
                </div>


                                <div class="poster_component editor_content_wrapper ueditor_container">
                    <div class="poster_reply">内&nbsp;&nbsp;容:</div>
                    <div class="old_style_wrapper">
                        <textarea style="width: 700px; height: 220px;" name='content'>{{ bbs.content }}</textarea>
                    </div>
                    <div class="poster_error j_error"></div>
                </div>


                                <div class="poster_component editor_bottom_panel clearfix">
                    <div class="j_floating">
                        <input class="btn_default btn_middle" value='修改' type='submit' />
                    </div>
                </div>
            </div>
                               </div>
    </div>
    {% csrf_token %}
    </form>
</div>