<style>
    #search_btn{
        width: 40px;height: 23px;border-radius: 5px;display: inline-block;
        text-align: center;background-color: #080808;color: #fff;
        font-size: 12px;position: relative;top:0px;
    }
</style>
<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
      <div class="header-inner"><div class="site-brand-wrapper">
  <div class="site-meta ">


    <div class="custom-logo-site-title">
      <a href="/"  class="brand" rel="start">
        <span class="logo-line-before"><i></i></span>
        <span class="site-title">千峰论坛</span>
        <span class="logo-line-after"><i></i></span>
      </a>
    </div>

        <h1 class="site-subtitle" itemprop="description"></h1>

  </div>

  <div class="site-nav-toggle">
    <button>
      <span class="btn-bar"></span>
      <span class="btn-bar"></span>
      <span class="btn-bar"></span>
    </button>
  </div>
</div>

<nav class="site-nav">



    <ul id="menu" class="menu">


        <li class="menu-item menu-item-home">
          <a href="/" rel="section">

              <i class="menu-item-icon fa fa-fw fa-home"></i> <br />

            首页
          </a>
        </li>

        <li class="menu-item menu-item-home">
          <a href="/" rel="section">

              <i class="menu-item-icon fa fa-fw fa-home"></i> <br />

            发布
          </a>
        </li>


{#        <li class="menu-item menu-item-tags">#}
{#          <a href="/tags/" rel="section">#}
{##}
{#              <i class="menu-item-icon fa fa-fw fa-tags"></i> <br />#}
{##}
{#            标签#}
{#          </a>#}
{#        </li>#}


{#        <li class="menu-item menu-item-categories">#}
{#          <a href="/categories/" rel="section">#}
{##}
{#              <i class="menu-item-icon fa fa-fw fa-th"></i> <br />#}
{##}
{#            分类#}
{#          </a>#}
{#        </li>#}




        <li class="menu-item">

            <a href="javascript:;">


              <i class="menu-item-icon fa fa-search fa-fw"></i> <br />

                <input type="text" name="search" id="search" style="width: 100px">
                <span id="search_btn">搜索</span>
          </a>
        </li>

    </ul>

</nav>



 </div>
    </header>